title: AcrArtifactConfig
allOf:
- $ref: artifact-config.yaml
- type: object
  required:
  - connectorRef
  - registry
  - repository
  - subscriptionId
  properties:
    connectorRef:
      type: string
    registry:
      type: string
    repository:
      type: string
    subscriptionId:
      type: string
    tag:
      type: string
    tagRegex:
      type: string
- oneOf:
  - required:
    - tagRegex
  - required:
    - tag
$schema: http://json-schema.org/draft-07/schema#
properties:
  description:
    desc: This is the description for AcrArtifactConfig
