title: ArtifactoryRegistryArtifactConfig
allOf:
- $ref: artifact-config.yaml
- type: object
  required:
  - connectorRef
  - repository
  - repositoryFormat
  properties:
    artifactDirectory:
      type: string
    artifactPath:
      type: string
    artifactPathFilter:
      type: string
    connectorRef:
      type: string
    repository:
      type: string
    repositoryFormat:
      type: string
      enum:
      - docker
      - generic
    repositoryUrl:
      type: string
    tag:
      type: string
    tagRegex:
      type: string
$schema: http://json-schema.org/draft-07/schema#
properties:
  description:
    desc: This is the description for ArtifactoryRegistryArtifactConfig
