title: GCEImageArtifactConfig
allOf:
- $ref: artifact-config.yaml
- type: object
  required:
  - connectorRef
  - project
  properties:
    connectorRef:
      type: string
      minLength: 1
    filters:
      oneOf:
      - type: array
        items:
          $ref: gce-image-filter.yaml
      - type: string
        pattern: ^<\+input>((\.)((executionInput\(\))|(allowedValues|selectOneFrom|selectManyFrom|default|regex)\(.+?\)))*$
        minLength: 1
    labels:
      oneOf:
      - type: array
        items:
          $ref: gce-image-label.yaml
      - type: string
        pattern: ^<\+input>((\.)((executionInput\(\))|(allowedValues|selectOneFrom|selectManyFrom|default|regex)\(.+?\)))*$
        minLength: 1
    project:
      type: string
      minLength: 1
    version:
      type: string
    versionRegex:
      type: string
- oneOf:
  - required:
    - versionRegex
  - required:
    - version
$schema: http://json-schema.org/draft-07/schema#
properties:
  description:
    desc: This is the description for GCEImageArtifactConfig
