title: service
oneOf:
  - type: string
    description: "Service name"
  - type: object
    properties:
      name:
        type: string
      items:
        type: array
        items:
          type: string
"$schema": http://json-schema.org/draft-07/schema#
