<component name="libraryTable">
  <library name="spring-data-commons-2.7.7_c5aca7">
    <CLASSES>
      <root url="jar:///private/var/tmp/_bazel_prashantsharma/189a2d35d5a24bceeaa5d83c54a63e09/execroot/harness_monorepo/bazel-out/darwin_arm64-fastbuild/bin/external/maven/v1/http/jfrogdev.dev.harness.io%3A80/artifactory/portal-maven/org/springframework/data/spring-data-commons/2.7.7/spring-data-commons-2.7.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>