title: ExecutionWrapperConfig
type: object
allOf:
  - $ref: ../../common/execution-wrapper-validation.yaml
properties:
  parallel:
    $ref: parallel-step-element-config.yaml
  insert:
    $ref: insert-step-node.yaml
  step:
    oneOf:
    - $ref: ../../common/step-element-config.yaml
    - $ref: ../../steps/common/background-step-node.yaml
    - $ref: ../../steps/ci/git-clone-step-node.yaml
    - $ref: ../../steps/cd/terraform-apply-step-node.yaml
    - $ref: ../../steps/cd/terraform-plan-step-node.yaml
    - $ref: ../../steps/cd/terraform-destroy-step-node.yaml
    - $ref: ../../steps/cd/terraform-rollback-step-node.yaml
    - $ref: ../../steps/cd/cloudformation-create-stack-step-node.yaml
    - $ref: ../../steps/cd/cloudformation-delete-stack-step-node.yaml
    - $ref: ../../steps/cd/cloudformation-rollback-step-node.yaml
    - $ref: ../../steps/cd/azure-create-a-r-m-resource-step-node.yaml
    - $ref: ../../steps/cd/azure-create-b-p-step-node.yaml
    - $ref: ../../steps/cd/azure-a-r-m-rollback-step-node.yaml
    - $ref: ../../steps/cd/jenkins-build-step-node.yaml
    - $ref: ../../steps/cd/shell-script-provision-step-node.yaml
    - $ref: ../../steps/cd/chaos-step-node.yaml
    - $ref: ../../steps/cd/ai-test-automation-step-node.yaml
    - $ref: ../../steps/cd/terragrunt-plan-step-node.yaml
    - $ref: ../../steps/cd/terragrunt-apply-step-node.yaml
    - $ref: ../../steps/cd/terragrunt-destroy-step-node.yaml
    - $ref: ../../steps/cd/terragrunt-rollback-step-node.yaml
    - $ref: ../../steps/cd/terraform-cloud-run-step-node.yaml
    - $ref: ../../steps/cd/download-manifests-step-node.yaml
    - $ref: ../../steps/cd/terraform-cloud-rollback-step-node.yaml
    - $ref: ../../steps/cd/aws-lambda-rollback-step-node.yaml
    - $ref: ../../steps/cd/bamboo-build-step-node.yaml
    - $ref: ../../steps/custom/http-step-node.yaml
    - $ref: ../../steps/custom/email-step-node.yaml
    - $ref: ../../steps/custom/queue-step-node.yaml
    - $ref: ../../steps/custom/shell-script-step-node.yaml
    - $ref: ../../steps/custom/custom-approval-step-node.yaml
    - $ref: ../../steps/custom/jira-create-step-node.yaml
    - $ref: ../../steps/custom/jira-update-step-node.yaml
    - $ref: ../../steps/custom/template-step-node.yaml
    - $ref: ../../steps/custom/service-now-approval-step-node.yaml
    - $ref: ../../steps/custom/jira-approval-step-node.yaml
    - $ref: ../../steps/custom/harness-approval-step-node.yaml
    - $ref: ../../steps/custom/barrier-step-node.yaml
    - $ref: ../../steps/custom/service-now-create-step-node.yaml
    - $ref: ../../steps/custom/service-now-update-step-node.yaml
    - $ref: ../../steps/custom/service-now-import-set-step-node.yaml
    - $ref: ../../steps/custom/flag-configuration-step-node.yaml
    - $ref: ../../steps/custom/policy-step-node.yaml
    - $ref: ../../steps/custom/wait-step-node.yaml
    - $ref: ../../steps/custom/container-step-node.yaml
    - $ref: ../../steps/common/run-step-node.yaml
    - $ref: ../../steps/common/plugin-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-bootstrap-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-synth-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-diff-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-deploy-step-node.yaml
    - $ref: ../../steps/common/dbops-apply-schema-step-node.yaml
    - $ref: ../../steps/common/dbops-rollback-schema-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-destroy-step-node.yaml
    - $ref: ../../steps/common/aws-cdk-rollback-step-node.yaml
    - $ref: ../../steps/cd/download-aws-s3-step-node.yaml
    - $ref: ../../steps/cd/download-harness-store-step-node.yaml
    - $ref: ../../steps/common/dbops-liquibase-command-step-node.yaml
    - $ref: ../../steps/common/files-upload-step-node.yaml
    - $ref: ../../steps/idp/idpslacknotify-node.yaml
    - $ref: ../../steps/cd/google-cloud-run-job-step-node.yaml
    - $ref: ../../steps/cd/asg-steady-state-step-node.yaml
    - $ref: ../../steps/custom/event-listener-step-node.yaml
    - $ref: ../../steps/cd/helm-delete-step-node.yaml
    - $ref: ../../steps/ci/s3-upload-node.yaml
    - $ref: ../../steps/common/custom-ingest-scan-node.yaml
    - $ref: ../../steps/common/aiagentmlops-ai-experiment-step-node.yaml
    - $ref: ../../steps/common/dbops-test-and-preview-step-node.yaml
    - $ref: ../../steps/common/db-schema-update-sql-step-node.yaml
    - $ref: ../../steps/common/db-schema-rollback-sql-step-node.yaml
    - $ref: ../../steps/common/dbops-flyway-command-step-node.yaml
    - $ref: ../../steps/common/wiz-scan-node.yaml
    - $ref: ../../steps/custom/fme-flag-create-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-limit-exposure-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-update-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-default-allocation-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-add-remove-targets-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-set-targets-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-kill-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-restore-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-reallocate-traffic-step-node.yaml
    - $ref: ../../steps/custom/fme-set-dynamic-configuration-step-node.yaml
    - $ref: ../../steps/custom/fme-flag-set-treatments-step-node.yaml
  stepGroup:
    $ref: step-group-element-config.yaml
  description:
    desc: This is the description for ExecutionWrapperConfig
$schema: http://json-schema.org/draft-07/schema#
